<body>
  <div class="content">
    <div class="text">
      Forgot Password
    </div>
    <form action="#">
      <div class="field">
        <input type="text" required />
        <span><i class="fa fa-user" aria-hidden="true"></i> </span>
        <label>Email, Phone, or Username</label>
      </div>
      <div class="field">
        <input type="text" required />
        <span><i class="fa fa-calendar" aria-hidden="true"></i> </span>
        <label>Date of Birth</label>
      </div>
      <div class="field">
        <input type="password" required />
        <span><i class="fa fa-lock" aria-hidden="true"></i> </span>
        <label>Password</label>
      </div>
      <div class="field">
        <input type="password" required />
        <span><i class="fa fa-lock" aria-hidden="true"></i> </span>
        <label>Confirm Password</label>
      </div>
      <button [disabled]="true">Sign in</button>
      <div class="forgot-pass">
        <a routerLink="../login"> Go Back</a>
      </div>
    </form>
  </div>
</body>
