html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

// .btn {
//   border: none;
//   outline: none;
//   padding: 10px 16px;
//   background-color: #f1f1f1;
//   cursor: pointer;
//   font-size: 18px;
// }

//   .container {
//     max-width: 760px;
//   }

.landing-header {
  max-width: 100%;
}

.card-deck .card {
  min-width: 120px;
}

//   .border-top { border-top: 1px solid #e5e5e5; }
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

.neo-box {
  border-radius: 18px;
  background: linear-gradient(145deg, #ffffff, #ffffff);
  box-shadow: 5px 5px 10px #666666, -5px -5px 10px #ffffff;
}

.neo-button {
  border-radius: 18px;
  background: #ffffff;
  box-shadow: 5px 5px 10px #ffffff, -5px -5px 10px #ffffff;
}

#iconsLink {
  text-decoration: underline;
}