
h1
{
	color:rgb(0, 0, 0);
	font-weight:300;
}

.main-box-layout
{
	width:100%;
	height:auto;
	border-bottom:5px #323233 solid;
	background:#fff;
	text-align:center;
	border-radius:10px;
	overflow:hidden;
	position:relative;
	transition:0.5s;
	margin-bottom:28px;
}


.main-box-layout img
{
	border-radius:50%;
	margin-bottom:20px;
	width: 90px;
}

.main-box-layout h3
{
	font-size:20px;
	font-weight:700;
}

.main-box-layout p
{
	margin-bottom:0;
}

.team-back
{
	width:100%;
	height:auto;
	position:absolute;
	top:0;
	left:0;
	padding:5px 15px 0 15px;
	text-align:left;
	background:#fff;
	
}

.team-front
{
	width:100%;
	height:auto;
	position:relative;
	z-index:10;
	background:#fff;
	padding:15px;
	bottom:0px;
	transition: all 0.5s ease;
}

.main-box-layout:hover .team-front
{
	bottom:-200px;
	transition: all 0.5s ease;
}

.main-box-layout:hover
{
	border-color:#777;
	transition:0.5s;
}

/*main-box-layout*/

