<h4 style="font-size:35px; color:white;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </h4>
<div class="container">
  <div class="row">
    <!--team-1-->
    <div class="col-lg-4">
      <div class="main-box-layout">
        <div class="team-front">
          <img
            src="./../../../../assets/Admin/check.png"
            class="img-fluid"
          />
          <h1>Approved</h1>
          <h3>{{approveCount}}</h3>
        </div>

        <div class="team-back">
          <span>
          The total count for the approve request are {{approveCount}}.
          </span>
        </div>
      </div>
    </div>
    <!--team-1-->

    <!--team-2-->
    <div class="col-lg-4">
      <div class="main-box-layout">
        <div class="team-front">
          <img
            src="./../../../../assets/Admin/cancel.png"
            class="img-fluid"
          />
          <h1>Decline</h1>
          <h3>{{declineCount}}</h3>
        </div>

        <div class="team-back">
          <span>
              The total count for the decline request are {{declineCount}}.
          </span>
        </div>
      </div>
    </div>
    <!--team-2-->

    <!--team-3-->
    <div class="col-lg-4">
      <div class="main-box-layout">
        <div class="team-front">
          <img
            src="./../../../../assets/Admin/user.png"
            class="img-fluid"
          />
          <h1>Users</h1>
          <h3>{{userCount}}</h3>
        </div>

        <div class="team-back">
          <span>
              The total count for the decline request are {{userCount}}.
          </span>
        </div>
      </div>
    </div>
    <!--team-3-->
  </div>
</div>
