a.btn:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}
a.btn {
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
}
@import url("https://fonts.googleapis.com/css?family=Amarante");

html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
form,
table,
tbody,
tfoot,
thead,
tr,
th,
td,
footer,
header,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  overflow-y: scroll;
}
body {
  // background: #eee url("https://i.imgur.com/eeQeRmk.png"); /* https://subtlepatterns.com/weave/ */
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 62.5%;
  line-height: 1;
  color: #585858;
  padding: 22px 10px;
  padding-bottom: 55px;
}

::selection {
  background: #5f74a0;
  color: #fff;
}
::-moz-selection {
  background: #5f74a0;
  color: #fff;
}
::-webkit-selection {
  background: #5f74a0;
  color: #fff;
}

br {
  display: block;
  line-height: 1.6em;
}
footer,
header,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}

input,
textarea {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
strong,
b {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
img {
  border: 0;
  max-width: 100%;
}

h1 {
  font-family: "Amarante", Tahoma, sans-serif;
  font-weight: bold;
  font-size: 3.6em;
  line-height: 1.7em;
  margin-bottom: 10px;
  text-align: center;
}

/** page structure **/
#wrapper {
  display: block;
  width: 900px;
  background: #fff;
  margin: 0 auto;
  padding: 10px 17px;
  -webkit-box-shadow: 2px 2px 3px -1px rgba(0, 0, 0, 0.35);
}

#tableContent {
  margin: 0 auto;
  font-size: 1.2em;
  margin-bottom: 15px;
}

#tableContent thead {
  cursor: pointer;
  background: #c9dff0;
}
#tableContent thead tr th {
  font-weight: bold;
  padding: 12px 20px;
  padding-left: 42px;
}
#tableContent thead tr th span {
  // padding-right: 0px;
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

#tableContent thead tr th.headerSortUp,
#tableContent thead tr th.headerSortDown {
  background: #acc8dd;
}

#tableContent thead tr th.headerSortUp span {
  background-image: url("https://i.imgur.com/SP99ZPJ.png");
}
#tableContent thead tr th.headerSortDown span {
  background-image: url("https://i.imgur.com/RkA9MBo.png");
}

#tableContent tbody tr {
  color: #555;
}
#tableContent tbody tr td {
  text-align: center;
  padding: 15px 10px;
}
#tableContent tbody tr td.lalign {
  text-align: left;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}
.addUsersBtn {
  float: right;
  margin-bottom: 20px;
  border: none;
  background-color: white;
  cursor: cell;
}

.searchBarInput {
  float: right;
  height: 30px;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  width: 25%;
  margin-top: 23px;
  border-radius: 25px;
}

.deleteBtnImg {
  margin-top: 20px;
  margin-left: 30%;
}

.deleteBtnImg img {
  width: 100px;
}

footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}

