<body>
  <div id="wrapper">
    <h1>
      User Details
      <button
        class="addUsersBtn"
        data-bs-toggle="modal"
        data-bs-target="#staticBackdrop"
        style=""
      >
        <img
          src="../../../../assets/Admin/add.png"
          width="50px"
          alt="addUser"
        />
      </button>
      <input
        type="text"
        name="searchData"
        class="searchBarInput"
        autocomplete="off"
        placeholder="Search"
        [(ngModel)]="searchData"
      />
    </h1>

    <table id="tableContent" *ngIf="users && users.length > 0">
      <thead>
        <tr>
          <th><span>Firstname</span></th>
          <th><span>Middlename</span></th>
          <th><span>Lastname</span></th>
          <th><span>Username</span></th>
          <th><span>Cellnumber</span></th>
          <th><span>Date of Birth</span></th>
          <th><span>Actions</span></th>
        </tr>
      </thead>
      <tbody *ngFor="let user of users | filter : searchData">
        <tr class="text-center">
          <td>{{ user.firstname }}</td>
          <td>{{ user.middlename }}</td>
          <td>{{ user.lastname }}</td>
          <td>{{ user.username }}</td>
          <td>{{ user.cellnumber }}</td>
          <td>{{ user.birthdate }}</td>
          <td>
            <button
              title="Edit"
              data-bs-toggle="modal"
              data-bs-target="#myEditModal"
              name="editButton"
              (click)="selectedUser(user)"
              style="border: none; background-color: white;"
            >
              <img
                src="../../../../assets/Admin/edit.png"
                width="30px"
                alt=""
              />
            </button>
            <button
              title="Delete"
              (click)="onDeleteRow(user.id)"
              style="border: none; background-color: white;"
            >
              <img src="../../../../assets/Admin/delete.png" width="25px" />
              <!-- <span
                *ngIf="user.isDeleting"
                class="spinner-border spinner-border-sm"
              ></span>
              <span *ngIf="!user.isDeleting">Delete</span> -->
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- Modal For Create New User-->
  <div
    class="modal fade mt-5"
    id="staticBackdrop"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="staticBackdropLabel"
    aria-hidden="true"
    style="margin-left:35%;"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5
            class="modal-title m-2"
            id="modalForCreate"
            style="font-size: 15px;"
          >
            Create New User Account
          </h5>
          <!-- <button
            type="button"
            class="close"
            data-bs-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button> -->
        </div>
        <div class="modal-body m-2">
          <form
            style="width:100%;"
            [formGroup]="userFormGroup"
            style="margin: 5%; "
          >
            <div class="form-group">
              <label for="exampleInputEmail1">First Name</label>
              <input
                type="text"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="textHelp"
                placeholder="Enter first name"
                formControlName="firstname"
              />
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Middle Name</label>
              <input
                type="text"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="textHelp"
                placeholder="Enter middle name"
                formControlName="middlename"
              />
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Last Name</label>
              <input
                type="text"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="textHelp"
                placeholder="Enter last name"
                formControlName="lastname"
              />
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">User Name</label>
              <input
                type="text"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="textHelp"
                placeholder="Enter username"
                formControlName="username"
              />
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Cell Number</label>
              <input
                type="text"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="textHelp"
                placeholder="Enter cell number"
                formControlName="cellnumber"
              />
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Date of Birth</label>
              <input
                type="date"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="textHelp"
                placeholder="Enter date of birth"
                formControlName="birthdate"
              />
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input
                type="password"
                class="form-control"
                id="exampleInputPassword1"
                placeholder="Password"
                formControlName="password"
              />
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
            Cancel
          </button>
          <button
            type="button"
            class="btn btn-info"
            (click)="createUser()"
            data-bs-dismiss="modal"
          >
            Create
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal For Edit-->
  <div
    class="modal fade mt-5"
    id="myEditModal"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="staticBackdropLabel"
    aria-hidden="true"
    style="margin-left:35%;"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title m-2" id="modalForEdit">
            Edit User Account
          </h5>
          <!-- <button
            type="button"
            class="close"
            data-bs-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button> -->
        </div>
        <div class="modal-body m-2" style="margin-left: 50%;">
          <form
            style="width:100%;"
            *ngIf="setSelectedUser"
            [formGroup]="userFormGroup"
          >
            <div class="form-group">
              <label for="firstname">First Name</label>
              <input
                type="text"
                class="form-control"
                id="firstname"
                aria-describedby="textHelp"
                placeholder="{{ setSelectedUser.firstname }}"
                value="{{ setSelectedUser.firstname }}"
                formControlName="firstname"
              />
            </div>
            <div class="form-group">
              <label for="middlename">Middle Name</label>
              <input
                type="text"
                class="form-control"
                id="middlename"
                aria-describedby="textHelp"
                placeholder="{{ setSelectedUser.middlename }}"
                value="{{ setSelectedUser.middlename }}"
                formControlName="middlename"
              />
            </div>
            <div class="form-group">
              <label for="lastname">Last Name</label>
              <input
                type="text"
                class="form-control"
                id="lastname"
                aria-describedby="textHelp"
                placeholder="{{ setSelectedUser.lastname }}"
                value="{{ setSelectedUser.lastname }}"
                formControlName="lastname"
              />
            </div>
            <div class="form-group">
              <label for="username">User Name</label>
              <input
                type="text"
                class="form-control"
                id="username"
                aria-describedby="textHelp"
                placeholder="{{ setSelectedUser.username }}"
                value="{{ setSelectedUser.username }}"
                formControlName="username"
              />
            </div>
            <div class="form-group">
              <label for="cellnumber">Cell Number</label>
              <input
                type="number"
                class="form-control"
                id="cellnumber"
                aria-describedby="textHelp"
                placeholder="{{ setSelectedUser.cellnumber }}"
                value="{{ setSelectedUser.cellnumber }}"
                formControlName="cellnumber"
              />
            </div>
            <div class="form-group">
              <label for="birthdate">Date of Birth</label>
              <input
                type="date"
                class="form-control"
                id="birthdate"
                aria-describedby="textHelp"
                placeholder="{{ setSelectedUser.birthdate }}"
                value="{{ setSelectedUser.birthdate }}"
                formControlName="birthdate"
              />
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input
                type="password"
                class="form-control"
                id="password"
                placeholder="{{ setSelectedUser.password }}"
                value="{{ setSelectedUser.password }}"
                formControlName="password"
              />
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
            Cancel
          </button>
          <button
            type="button"
            class="btn btn-info"
            (click)="onUpdateRow()"
            data-bs-dismiss="modal"
          >
            Update
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="container" style="margin-top:7%;">
    <footer class="bg-light text-center">
      <!-- Grid container -->
      <div class="container">
        <!-- Section: Form -->
        <section class="">
          <form action="">
            <!--Grid row-->
            <div class="row d-flex justify-content-center">
              <!--Grid column-->
              <div class="col-auto">
                <!-- Submit button -->

                <!-- Button trigger modal -->
                <!-- <button
                  type="button"
                  class="btn btn-primary"
                  data-bs-toggle="modal"
                  data-bs-target="#staticBackdrop"
                >
                  Launch static backdrop modal
                </button> -->
              </div>
              <!--Grid column-->
            </div>
            <!--Grid row-->
          </form>
        </section>
        <!-- Section: Form -->
      </div>
      <!-- Grid container -->

      <!-- Copyright -->
      <div
        class="text-center p-3"
        style="background-color: rgba(0, 0, 0, 0.2);"
      >
        <p style="margin-left:11%;">
          © 2022 Copyright: <a class="text-dark">John Eerie Stranger</a>
        </p>
      </div>
      <!-- Copyright -->
    </footer>
  </div>
  <!-- End of .container -->
</body>

<ng-template> </ng-template>
